PROMPT_DIR=/qwarium/home/ext.arlatyshev/data/generated_prompts_py
OUTPUT_DIR="$HOME/secure_answers"
WORK_ROOT="$HOME/trae_work"
LOG_FILE="$HOME/trae_run.log"

GIT_BASE_URL=https://github.com

PYTHON_BIN=python
TRAE_BIN=trae-cli
TRAE_CONFIG_FILE=/qwarium/home/ext.arlatyshev/trae-agent_analyse/trae_config.json
TRAE_CONSOLE_TYPE=simple

CLEAN_EXTRA_PATHS=".git .hg .svn .bzr .github .gitlab .circleci .travis.yml .gitmodules .gitignore .gitattributes"
